@import "./css/index.css";

html {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: var(--sans-font);
  font-feature-settings: normal;
  font-variation-settings: normal;
}

::selection {
  background: #f878ff;
}
