.opacity-0 {
  opacity: var(--opacity-0);
}

.opacity-1 {
  opacity: var(--opacity-1);
}

.opacity-2 {
  opacity: var(--opacity-2);
}

.opacity-3 {
  opacity: var(--opacity-3);
}

.opacity-4 {
  opacity: var(--opacity-4);
}

.opacity-5 {
  opacity: var(--opacity-5);
}

.opacity-6 {
  opacity: var(--opacity-6);
}

.opacity-7 {
  opacity: var(--opacity-7);
}

.opacity-8 {
  opacity: var(--opacity-8);
}

.opacity-9 {
  opacity: var(--opacity-9);
}

.opacity-10 {
  opacity: var(--opacity-10);
}
