.alert {
  background-color: var(--alert-bg);
  padding: var(--alert-padding);
  margin: var(--alert-margin);
  border: var(--alert-border);
  border-width: var(--alert-border-width);
  border-radius: var(--alert-radius);
  box-shadow: var(--box-shadow-md);
  max-width: var(--alert-max-width);
  width: 100%;

  &.fixed {
    max-width: 70ch;
  }

  &.info {
    color: var(--info-color-dark);
  }
  &.success {
    background-color: var(--success-color-light);
  }
  &.warning {
    background-color: var(--warning-color);
  }
  &.danger {
    background-color: var(--danger-color);
  }

  & .alert-title {
    color: var(--alert-title);
  }
  & p {
    max-width: 65ch;
  }

  .close {
    margin-inline-end: -0.5em;
    margin-block-start: -0.5em;
    font-size: 2em;
  }
}
