.container {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 100%;
  margin: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: var(--md-breakpoint);
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: var(--lg-breakpoint);
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: var(--xl-breakpoint);
  }
}
