.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.flex-inline {
  display: inline-flex;
}

.grid {
  display: grid;
}
